body {
  font-family: arial;
  background-color: #0f8ec8d0;
}
h1 {
  color: #ecbc1e;
}

fieldset{
  display: flex;
  margin: 15%;
  background-color:rgba(35, 124, 165, 0.664) ;
  justify-content: center;
}

